<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="EmptyStringGuard.Fody" version="1.0.6.0" targetFramework="net461" developmentDependency="true" />
    <package id="Fody" version="1.29.4" targetFramework="net461" developmentDependency="true" />
    <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
    <package id="NullGuard.Fody" version="1.4.5" targetFramework="net461" developmentDependency="true" />
</packages>